name: Learning Github Actions
on: [push]
jobs: 
  github-action-job:
    name: Run Github Action Jobs
    runs-on: 'ubuntu-latest'
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with: 
          java-version: '1.8'
          distribution: 'temurin'
      - name: Build
        run: mvn install
